@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.services-list-items::after {
    position: absolute;
    left: 50%;
    top: 70%;
    content: "";
    height: 500px;
    width: 500px;
    background: #ecf6fa;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-top: -120px;
    filter: blur(80px);
}

.planss:nth-child(2){
    box-shadow: 0 0 4rem 0px rgb(54 186 254 / 38%);
}

.plan:nth-child(odd):hover{
    box-shadow: 0 0 1.5625rem 0 rgb(54 186 254 / 10%);

}

.boxs{
    box-shadow: 0 0 1.5625rem 0 rgb(54 186 254 / 10%);
}

.boxss{
    box-shadow:0 0 1rem 10px rgb(54 186 254 / 10%)
}



body{
    font-family: 'Inter', sans-serif;

}
.update{
    position: relative;

}

.swiper-pagination-bullet{
    background-color: rgb(26, 113, 184) !important;


}

.gradient {
    @apply bg-gradient-to-r from-blues to-cyan-500
}
nav{
    z-index: 1000000 !important;

}

.swiper-button{
    background-color: red !important;
}

.opacit::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -10000;
}
.update::before{
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
    opacity: 0.4;
}

.centred {
    @apply flex justify-center items-center
}

.titles {
    @apply flex items-center gap-3 text-xl font-bold text-blue-900
}

.subtitles {
    @apply py-5 text-gray-600 text-center
}



.blue_gradient{
    @apply bg-gradient-to-r from-purple-800 to-blue-600 ;
  }

  .white_title {
    @apply text-[30px] font-[600]
  }

  .heade{
    @apply text-center text-[17px] lg:text-[20px] font-bold  text-purple-800 py-3
  }

  .subheade{
    @apply text-center text-[29px] lg:text-[40px] font-bold  text-blue-900 pb-16
  }

  .map path{
    stroke: rgb(106, 96, 255) !important;
    font-weight: 300 !important;
}

  .between {
    @apply px-16 py-8
  }



  .swiper-button-next , .swiper-button-prev {
    margin:0px 20px !important;
  }

  .footer-sec::before{
content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: inherit;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.5;
    background-image: url('/assets/42.png');


  }